.posts-page-container__posts-wrapper {
  display: flex;
  justify-content: space-between;
}

.posts-page-container__posts {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  transition: width 0.5s ease-in-out;
}

.posts-page-container__posts_zero-width {
  width: 0;
}

.posts-page-container__favorite-posts {
  display: flex;
}

.posts-page-container__unfavorite-posts {
  display: flex;
}

@media (min-width: 720px) {
  .posts-page-container__favorite-posts:not(.posts-page-container__posts_zero-width) {
    width: 25%;
  }

  .posts-page-container__unfavorite-posts.posts-page-container__posts_zero-width {
    width: 75%;
  }
}
